<p>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span class="example-spacer" matTooltip="Accounts">Accounts</span>
            <span class="example-spacer" matTooltip="Funds Transfer">Funds Transfer</span>
            <span class="example-spacer" matTooltip="BillPay & Recharge">BillPay & Recharge</span>
            <span class="example-spacer" matTooltip="Cards">Cards</span>
            <span class="example-spacer" matTooltip="Mutual Fund">Mutual Fund</span>
            <span class="example-spacer" matTooltip="Insurance">Insurance</span>
            <span class="example-spacer" matTooltip="Loans">Loans</span>
            <span class="example-spacer" matTooltip="Offers">Offers</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon matTooltip="login">login</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon matTooltip="Account box">account_box</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</p>